{% extends 'base.html' %}

{% block content %}
current user id: {{ user.id }} <br/>
<h1>Post</h1>
{# for x in object_list#}
    <ul>
    {% for post in object_list %}
        <li><a href="{% url 'article-detail' post.pk %}"> {{ post.title }}</a> - {{ post.author.first_name }}
            {{ post.author.last_name }} - {{ post.post_date }} - <a href="{% url 'catagory' post.catagory %}"> {{ post.catagory }} </a>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
            <small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small> -
            <small><a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
                {% endif %}
            {%  endif %}
            <br/>
        {{ post.body | slice:":100" | safe }}
        </li>
    {% endfor %}
    </ul>
    {{ cat_menu }}
{% endblock %}